{
  "lint-staged": {
    "*.ts": [
      "eslint --fix",
      "git add"
    ],
    "*.css": [
      "stylelint --fix",
      "git add"
    ],
    "*.vue": [
      "eslint --fix",
      "stylelint --fix",
      "git add"
    ]
  }
}
